#title{
    height: 250px;
    position: relative;
}
#name{
    pointer-events: none;
    width: 35%;
    position: absolute;
    left: 100px;
    top: 50px;
}
#menu{
    position: relative;
    float: left;
}
#menuBackground{
    overflow: auto;
    position: absolute;
    width: 100%;
    left: 0px;
    height: 2250px;
    background-color: rgba(42,33,38,0.9);
}
#text{
    right: 10px;
    top: -10px;
    font-size: 20px;
    color: rgba(209, 188, 141, 1);
}
#container{
    float: right;
    width: 65%;
    margin-top: 50px;
    right: 0px;
}
#container p{
    font-family: Calibri;
    color: rgba(196, 179, 124, 1);
}
#lightBox{
    position: relative;
    background: rgba(0, 0, 0, 0.7);
}
#lightBox img{
    position: absolute;
}
#avatar{
    position: relative;
    pointer-events: none;
    float: right;
    margin-right: 50px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 35%;
}
.menuElement{
    color: rgba(133, 123, 134, 1);
    letter-spacing: 5px;
    position: relative;
    width: 200px;
    top: 50px;
    left: 150px;
    font-size: 180%;
    font-family: Calibri;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menuElement:hover{
    color: white;
    cursor: none;
}
.menuElement:active{
    color: rgba(133, 123, 134, 1);
    cursor: default;
}
.subMenu{
    display: none;
    height: 100px;
    min-width: 100%;
}
.subMenu a{
    color: rgba(196, 179, 124, 1);
    font-family: Calibri;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    letter-spacing: 5px;
    position: relative;
    width: 200px;
    top: 50px;
    left: 138px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.subMenu a:hover{
    color: white;
    cursor: default;
}
.link{
    color: rgba(133, 123, 134, 1);
}
.link:hover{
    color: white;
}
body{
    background-image: url("../images/IMG_3353.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
/*@media only screen and (max-width: 940px) {*/
    /*.menuElement{*/
        /*left: 50px;*/
    /*}*/
    /*.subMenu a{*/
        /*left: 50px;*/
    /*}*/
    /*#title{*/
        /*height: 150px;*/
    /*}*/
    /*#container{*/
        /*height: 1500px;*/
    /*}*/
/*}*/